.ContactUs{
    color: rgb(255, 255, 255);
}

.ContactUs>form{
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 50vh;
    /* justify-content: center; */
    /* align-items: center; */
    position: relative;
    left: 10rem;
    padding: 2rem;

    background-color: rgb(161, 166, 236);
    gap: 2rem;

    border: 4px solid white;
}

.ContactUs>form>input{
    background-color: white;
    color: black;
    font-weight: 600;
    height: 2rem;
}

.ContactUs>form>textarea{
    background-color: white;
    font-weight: 600;
}


