.ContactUs{
    color: rgb(255, 255, 255);
    background: url(../../../public/services.png);
    background-color: rgb(240, 235, 235);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 4rem ;
}

.ContactUs h1{
    margin: 2rem;
    font-size: 3rem;
    color: rgb(38, 60, 148);
    font-weight: 700;
    padding-left: 14px;
    margin-bottom: 2rem;
    border-left: 8px solid rgb(38, 60, 148);
}