.Teams-wrapper{
    background-color: var(--black);
    color: white;
    padding-left: 4rem;
    padding-bottom: 10rem;
}

.p{
    font-size: 2.5rem;
}

.p2div{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.p2{

    font-size: 1.2rem;
}
.Cards-Container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5rem;
    padding-right: 5rem;
}

.TM{
    border-left: 0.5rem solid orange;
}

.TM>h1,p{
    padding-left: 2rem;
}