

.r-container{
    overflow: hidden;
    position: relative;
    /* margin-top: 3rem; */
    margin-bottom: 1rem;
}

.r-head {
    margin-bottom: 2rem;
    border-left: 7px solid rgb(98, 98, 133);
    padding-left: 20px;
    margin-left: 5px;
}

.r-card {
    gap: 0.4rem;
    padding: 1rem;
    /* padding-top: 2.5rem; */
    /* border-radius: 10px; */
    max-width: max-content;
    margin: auto;
    transition: all 300ms ease-in;
    background-color:white;
    /* border: 3px solid orange; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
}

.r-card > img {
    width: 100%;
    max-width: 15rem;
    /* border: 2px solid rgb(132, 131, 131); */
    /* border-radius: 10px; */
}

.r-card > :nth-child(2) {
    font-size: 1.2rem;
    font-weight: 600;
}

.r-card > :nth-child(3) {
    font-size: 1.5rem;
}

.r-card > :nth-child(4) {
    font-size: 1.2rem;
    width: 15rem;
}

.r-card:hover {
    /* transform: translateY(-5px);  */
    /* box-shadow: 0px 12px 10px -10px rgba(136, 160, 255, 0.21); */
    scale: 1.025;
    cursor: pointer;
    /* background-color: #508C9B; */
    box-shadow: 0px 15px 15px 15px rgba(88, 91, 103, 0.21);
}

.swiper-horizontal{
    overflow: visible;
}


.r-buttons{
    /* position: absolute; */
    gap: 1rem;
    /* top: -4rem; */
    /* right: 0; */
    
    /* top: 0rem; */
}

.r-buttons button{
    font-size: 1.2rem;
    padding: 0.2rem 0.8rem;
    color: blue;
    border: none;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;

}

.r-buttons>:nth-child(1){
    
    background-color: #EEEEFF;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.25);
}
.r-buttons>:nth-child(2){
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.25);
    background-color: #EEEEFF;
}

