.h-wrapper{
    
    /* background-color:#024d87; */
    /* color: white; */
    /* position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;*/
    z-index: 1;
    position: absolute;
    display:absolute;
    left: 15vw;
} 


.h-container {
    justify-content: space-between !important;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--secondary);
}

.h-menu {
    gap: 2rem;
}

.h-menu a {
    color: white;
    text-decoration: none;
}

.h-menu a:hover {
    color: var(--orange-color);
    transform: scale(1.2);
}

.h-menu>*:hover {
    cursor: pointer;
}

.Himg{
    margin-right: 5vw;
}