.h-wrapper{
    background:var(--black);
    /* color: white; */
    /* position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;*/
    z-index: 1;
    display:absolute;
} 

.logoC{
    height: 20rem;
    width: auto;
}

.h-container {
    justify-content: space-between !important;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--secondary);
}

.h-menu {
    gap: 2rem;
}

.h-menu a {
    color: white;
    text-decoration: none;
}

.h-menu a:hover {
    color: var(--orange-color);
    transform: scale(1.2);
}

.h-menu>*:hover {
    cursor: pointer;
}
