.h-menu {
    width: 80vw;
    position: relative;
    z-index: 1000;
    bottom: 11em;
    left: 13em;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(19, 6, 6);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    color: var(--orange-color);
    transform: scale(1.2);
  }
  
  .dropdown:hover .dropdown-content {
    /* display: block; */
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .dropdown:hover .dropbtn {
    color: var(--orange-color);
    transform: scale(1.2);
  }
  