.h-wrapper{
    background:var(--black);
    /* color: white; */
    /* position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;*/
} 

.h-container{
    justify-content:space-between !important;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color:var(--secondary);
    
}


.h-menu{
    gap: 2rem;
}
.a{
    color: white;
    text-decoration:none;
}

.a:hover{
    color: var(--orange-color);
    transform: scale(1.2);
}

.h-menu a{
    color: white;
    text-decoration: none;
}

.h-menu>*:hover{
    cursor: pointer;
    
}

.MenuDropdown {
    background-color: red !important; /* Temporary color for visibility */
  }
  
  .MenuItem {
    background-color: blue !important; /* Temporary color for visibility */
  }
  