.v-container .image-conatiner{
    border: 8px solid rgb(232 232 232 / 93%);
    
}

.v-container>div{
    flex: 1;
    
    
}

.v-right{
    gap: 0.5rem;
    
    background-color: #ced3d9;
    border-radius: 29px;
    padding: 2rem;
    border: 1.5px solid #363f46 ;
}

/* .v-right>span{
    margin-bottom: 2rem;
    border-left: 7px solid rgb(98, 98, 133);
    padding-left: 20px;
    margin-left: 5px;
} */
/* .solidLine{
    margin-bottom: 2rem;
    border-left: 7px solid rgb(98, 98, 133);
    padding-left: 20px;
    margin-left: 5px;
} */


.accordion{
    margin-top:2rem;
    border: none;
}
.accordionItem{
    background:white;
    border:0.8px solid rgba(128 , 128,128,0.143);
    border-radius: 8px;
    margin-bottom: 20px;
    border: 2px solid black;
}

.accordionItem.expanded{
    box-shadow: var(--shadow);
    border-radius: 6px;
}

.accordionButton{
    background: white;
    padding: 1rem;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;
}

.icon{
    padding: 10px;
    background: #eeeeff;
    border-radius: 5px;
}
.icon svg{
    fill: var(--blue);
}

.accordion .primaryText{
    font-size: 1.1rem;
}

