.Home2-wrapper{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color:#333;
    color: white;
    width: 100vw;
    height: 100vh;
}

.description{
    width: 600px;
    position: absolute;
    z-index: 999;
    color: aliceblue;
    top: 90%;
    left: 15%;
}

.description h1{
    font-size: 46px;
}
.description p{
    font-size: 22px;
}

.carousel-button{
    display: flex;
    align-items:center ;
    padding-top: 2rem;
    /* justify-content: center; */
}

/* .carousel-button span{
    width: 45px;
    height: 8px;
    background-color: rgb(179,178,176);
    margin-left: 10px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 3px 2px 2px rgba(73, 72, 72, 0.338);
} */