body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #333;
  }
  
  .info {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    margin: 50px auto;
    max-width: 80%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .subheadings {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    color: #007BFF; 
    border-left: 5px solid #007BFF;
    padding-left: 10px;
  }
  
  .aboutContent {
    line-height: 1.6;
    text-align: justify;
    font-size: 1.1em;
  }
  