/* General styles for the contact page */
.ContactUs {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 15px;
  background-color: #191919;
}

.container {
  margin-top: 25vh;
  margin-bottom: 20vh;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1294px;
  background-color: #ffffff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
}

.left-section, .right-section {
  flex: 1;
  padding: 40px;
}

.left-section {
  background-color: #313131;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid white;
}

.left-section h1 {
  margin-bottom: 3rem;
  font-size: 2.5rem;
  font-weight: bold;
}

.left-section .heading2 {
  font-size: 1.8rem;
  margin-left: 2rem;
  color: #f2ae6a;
  font-weight: 600;
}

.left-section .heading3 {
  font-size: 1.2rem;
  line-height: 1.6;
  margin: 2rem;
}

.right-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f9;
}

.emailForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.emailForm input,
.emailForm textarea {
  border: 1px solid rgb(126, 125, 125);
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 5px;
  font-size: 1rem;
}

.emailForm textarea {
  resize: vertical;
}

.emailForm .button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 15px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.emailForm .button:hover {
  background-color: #0056b3;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .left-section, .right-section {
    padding: 20px;
  }

  .emailForm {
    padding: 20px;
  }

  .left-section h1 {
    word-wrap: break-word;
  }

}
